<h1>Results: Lookup by domain</h1>

<strong>{{query.domain}}</strong>

<br /><br />

{{!> geoip data=result.geoip}}

{{> whois data=result.whois}}

{{> dig data=result.dig}}

{{> nmap data=result.nmap}}

{{> curl data=result.curl}}
