<h1>Results: Lookup by domain</h1>

<strong>{{query.domain}}</strong>

<br /><br />

{{> geoip data=result.geoip}}

{{!> nmap data=result.nmap}}

{{!> traceroute data=result.traceroute}}

{{> whois data=result.whois}}

{{> curl data=result.curl}}
