<h1>Results: Lookup by URL</h1>

<strong>{{query.url}}</strong>

<br /><br />

<div class="panel panel-success">
  <div class="panel-heading">
   <h3 class="panel-title">curl</h3>
 </div>
  <div class="panel-body">
    <p>(curl data here)</p>
  </div>
</div>
