<form action="/actions/lookup/url" method="GET">
  <fieldset>
    <legend>Lookup by URL</legend>

    <label>
      URL:
      <input type="text" value="" name="url" />
    </label>

    <input type="submit" class="btn btn-primary" />
  </fieldset>
</form>


<form action="/actions/lookup/ip" method="GET">
  <fieldset>
    <legend>Lookup by IP</legend>

    <label>
      IP:
      <input type="text" value="" name="ip" />
    </label>

    <input type="submit" class="btn btn-primary" />
  </fieldset>
</form>


<form action="/actions/lookup/domain" method="GET">
  <fieldset>
    <legend>Lookup by domain</legend>

    <label>
      Domain:
      <input type="text" value="" name="domain" />
    </label>

    <input type="submit" class="btn btn-primary" />
  </fieldset>
</form>
